body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.rps-wrapper {
  background-color: rgb(255, 255, 255);
  width: 399px;
  height: 68px;
  margin: 20px auto;
  flex-direction: column;
  border: 1px solid lightgrey;
  
}

/*Copied from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_animate*/
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  text-align: center;
}

.redirect {
  text-align: center;
  width: auto;
  height: auto;
}

.active, .collapsible:hover {
  background-color: #555;
  
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

h2 {text-align: center;}

p {text-align: center;}

